NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback
DISCORD_GUILD_ID=1452614312798584852
OWNER_DISCORD_USER_ID=1455543306300948611
SESSION_SECRET=
ROBLOX_GROUP_ID=34815655
ROBLOX_PLACE_ID=90027902734040
ROBLOX_UNIVERSE_ID=10109383536
ROBLOX_TRACKER_SECRET=
