NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SESSION_SECRET=
ROBLOX_CLIENT_ID=
ROBLOX_CLIENT_SECRET=
ROBLOX_REDIRECT_URI=http://localhost:3000/api/auth/roblox/callback
ROBLOX_GROUP_ID=34815655
ROBLOX_PLACE_ID=90027902734040
ROBLOX_UNIVERSE_ID=10109383536
ROBLOX_TRACKER_SECRET=
